<a href="https://colab.research.google.com/github/akshithamaddi/INFO5731_SPRING2021/blob/main/In_class_exercise_04_answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (reference answer)**

Provided by psameni

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above.


## 1.4 Advance Text Processing

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 2-grams terms as features.

In [ ]:
# 1.1 Basic feature extraction using text data
#reading the .tx file
import pandas as pd

data_file="https://raw.githubusercontent.com/unt-iialab/INFO5731_Spring2020/master/In_class_exercise/01-05-1%20%20Adams%20v%20Tanner.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['sentence'])
data.head(10)

                                        sentence
0                                     5 Ala. 740
1                      Supreme Court of Alabama.
2                                          ADAMS
3                                             v.
4                             TANNER AND HORTON.
5                                      June Term
6                                       Synopsis
7  WRIT of Error to the Circuit Court of Sumter.
8                                              Â
9                             West Headnotes (2)

In [ ]:
# 1.1 Basic feature extraction using text data
# (1) Number of sentences

print("Number of Sentences :",len(data['sentence']))

Number of Sentences : 148

In [ ]:
# 1.1 Basic feature extraction using text data
# (2) Number of words

data['word_count']=data['sentence'].apply(lambda x: len(x.split(" ")))

data[['sentence','word_count']].head(10)

                                        sentence  word_count
0                                     5 Ala. 740           3
1                      Supreme Court of Alabama.           4
2                                          ADAMS           1
3                                             v.           1
4                             TANNER AND HORTON.           3
5                                      June Term           2
6                                       Synopsis           1
7  WRIT of Error to the Circuit Court of Sumter.           9
8                                              Â            1
9                             West Headnotes (2)           3

In [ ]:
# 1.1 Basic feature extraction using text data
# (3) Number of characters

data['char_count']=data['sentence'].str.len()

data[['sentence','char_count']].head(10)

                                        sentence  char_count
0                                     5 Ala. 740          10
1                      Supreme Court of Alabama.          25
2                                          ADAMS           5
3                                             v.           2
4                             TANNER AND HORTON.          18
5                                      June Term           9
6                                       Synopsis           8
7  WRIT of Error to the Circuit Court of Sumter.          45
8                                              Â            1
9                             West Headnotes (2)          18

In [ ]:
# 1.1 Basic feature extraction using text data
# (4) Number of characters

def avg_word(sentence):
    words=sentence.split()
    if len(words)!=0:
     return(sum(len(word) for word in words)/len(words))
    else:
     return 0

data['avg_word_len']=data['sentence'].apply(lambda x: avg_word(x))
data[['sentence','avg_word_len']].head(10)

                                        sentence  avg_word_len
0                                     5 Ala. 740      2.666667
1                      Supreme Court of Alabama.      5.500000
2                                          ADAMS      5.000000
3                                             v.      2.000000
4                             TANNER AND HORTON.      5.333333
5                                      June Term      4.000000
6                                       Synopsis      8.000000
7  WRIT of Error to the Circuit Court of Sumter.      4.111111
8                                              Â       0.000000
9                             West Headnotes (2)      5.333333

In [ ]:
# 1.1 Basic feature extraction using text data
# (5) Number of stopwords

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop=stopwords.words('english')

data['stop_words_count']=data['sentence'].apply(lambda x: len([y for y in x.split() if y in stop]))
data[['sentence','stop_words_count']].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                        sentence  stop_words_count
0                                     5 Ala. 740                 0
1                      Supreme Court of Alabama.                 1
2                                          ADAMS                 0
3                                             v.                 0
4                             TANNER AND HORTON.                 0
5                                      June Term                 0
6                                       Synopsis                 0
7  WRIT of Error to the Circuit Court of Sumter.                 4
8                                              Â                  0
9                             West Headnotes (2)                 0

In [ ]:
# 1.1 Basic feature extraction using text data
# (6) Number of special characters

data['special_char_count']=data['sentence'].apply(lambda x: len([y for y in x.split() if y.startswith(('#','@'))]))
data[['sentence','special_char_count']].head(10)

                                        sentence  special_char_count
0                                     5 Ala. 740                   0
1                      Supreme Court of Alabama.                   0
2                                          ADAMS                   0
3                                             v.                   0
4                             TANNER AND HORTON.                   0
5                                      June Term                   0
6                                       Synopsis                   0
7  WRIT of Error to the Circuit Court of Sumter.                   0
8                                              Â                    0
9                             West Headnotes (2)                   0

In [ ]:
# 1.1 Basic feature extraction using text data
# (7) number of numerics

data['numeric_count']=data['sentence'].apply(lambda x: len([y for y in x.split() if y.isdigit()]))
data[['sentence','numeric_count']].head(10)

                                        sentence  numeric_count
0                                     5 Ala. 740              2
1                      Supreme Court of Alabama.              0
2                                          ADAMS              0
3                                             v.              0
4                             TANNER AND HORTON.              0
5                                      June Term              0
6                                       Synopsis              0
7  WRIT of Error to the Circuit Court of Sumter.              0
8                                              Â               0
9                             West Headnotes (2)              0

In [ ]:
# 1.1 Basic feature extraction using text data
# (8) Number of uppercase words

data['uppercase_words_count']=data['sentence'].apply(lambda x: len([y for y in x.split() if y.isupper()]))
data[['sentence','uppercase_words_count']].head(10)

                                        sentence  uppercase_words_count
0                                     5 Ala. 740                      0
1                      Supreme Court of Alabama.                      0
2                                          ADAMS                      1
3                                             v.                      0
4                             TANNER AND HORTON.                      3
5                                      June Term                      0
6                                       Synopsis                      0
7  WRIT of Error to the Circuit Court of Sumter.                      1
8                                              Â                       0
9                             West Headnotes (2)                      0

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (1) Lower casing

data['sentence']=data['sentence'].str.lower()
data['sentence'].head(10)

0                                       5 ala. 740
1                        supreme court of alabama.
2                                            adams
3                                               v.
4                               tanner and horton.
5                                        june term
6                                         synopsis
7    writ of error to the circuit court of sumter.
8                                                Â
9                               west headnotes (2)
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (2) Punctuation removal

import string
data['sentence']=data['sentence'].str.replace('[{}]'.format(string.punctuation), '')
data['sentence'].head(10)

0                                       5 ala 740
1                        supreme court of alabama
2                                           adams
3                                               v
4                               tanner and horton
5                                       june term
6                                        synopsis
7    writ of error to the circuit court of sumter
8                                               Â
9                                west headnotes 2
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (3) Stopwords removal

from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
stop=stopwords.words('english')

data['sentence']=data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in stop))
data['sentence'].head(10)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (4) Frequent words removal

freq=pd.Series(' '.join(data['sentence']).split()).value_counts()[:10]
freq=list(freq.index)

data['sentence']=data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in freq))
data['sentence'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (5) Rare words removal

rare=pd.Series(' '.join(data['sentence']).split()).value_counts()[-10:]

rare=list(rare.index)
data['sentence']=data['sentence'].apply(lambda x:" ".join(x for x in x.split() if x not in rare))
data['sentence'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        tanner horton
5                 june
6             synopsis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (6) Spelling correction

from textblob import TextBlob

data['sentence']=data['sentence'].apply(lambda x: str(TextBlob(x).correct()))
data['sentence'].head(10)

0                  740
1      supreme alabama
2                adams
3
4        manner norton
5                 june
6              sycosis
7    writ error sumter
8
9       west headnotes
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (7) Stemming

from nltk.stem import PorterStemmer
st=PorterStemmer()

data['sentence']=data['sentence'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))
data['sentence'].head(10)

0                  740
1       suprem alabama
2                 adam
3
4        manner norton
5                 june
6               sycosi
7    writ error sumter
8
9         west headnot
Name: sentence, dtype: object

In [ ]:
# 1.2 Basic Text Pre-processing of text data
# (8) Lemmatization

from textblob import Word

import nltk
nltk.download('wordnet')
data['sentence']=data['sentence'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
data['sentence'].head(10)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

0                  740
1       suprem alabama
2                 adam
3
4        manner norton
5                 june
6               sycosi
7    writ error sumter
8
9         west headnot
Name: sentence, dtype: object

In [ ]:
# Dropping empty rows
sentence=data["sentence"] != ""
data=data[sentence]
data=data.reset_index(inplace=False)
data['sentence'].head(10)

0                  740
1       suprem alabama
2                 adam
3        manner norton
4                 june
5               sycosi
6    writ error sumter
7         west headnot
8                    1
9      chattel mortgag
Name: sentence, dtype: object

In [ ]:
# 1.3 Saving the formatted sentences to "clean.txt"

data['sentence'].to_csv("clean.txt",header=False,index=False)

In [ ]:
# 1.4 Advance Text Processing
# (1) Calculate the term frequency of all the terms

tf=(data['sentence']).apply(lambda x: pd.value_counts(x.split(' '))).sum(axis=0).reset_index()
tf.columns=['word','Term Frequency']
tf.head(10)

      word  Term Frequency
0      740             2.0
1   suprem             1.0
2  alabama             1.0
3     adam             1.0
4   norton             1.0
5   manner             2.0
6     june             1.0
7   sycosi             1.0
8   sumter             1.0
9     writ             2.0

In [ ]:
# 1.4 Advance Text Processing
# (2) Print out top 10 1-gram, top 10 2-grams, and top 10 2-grams terms as features

import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

data_file="clean.txt"
data=pd.read_csv(data_file,error_bad_lines=False,names=['sentence'])
vectorizer = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word', stop_words= 'english', ngram_range = (1,3))
X = vectorizer.fit_transform(data['sentence'])
print(vectorizer.get_feature_names())

['108', '145', '182', '1852', '1857', '1871', '1872', '1876', '1880', '1887', '1936', '2019', '2019 thomson', '2019 thomson renter', '21', '21 333', '256', '266', '31', '31 526', '329', '333', '362', '39', '45', '45 329', '464', '47', '47 362', '526', '65', '65 256', '740', '913', 'act', 'act consid', 'act consid act', 'act subject', 'act subject polici', 'adam', 'admiss', 'admiss contradict', 'admit', 'admit contract', 'admit contract defend', 'alabama', 'ampl', 'assert', 'attach', 'attorney', 'attorney law', 'attorney law firm', 'austin', 'austin lawyer', 'autauga', 'autauga moor', 'author', 'bale', 'bale cotton', 'bale cotton etowah', 'banish', 'banish wage', 'banish wage exempt', 'bite', 'bite refer', 'bring', 'bring question', 'cal', 'cal 145', 'case', 'case cite', 'case cite headnot', 'charg', 'charg juri', 'chattel', 'chattel mortgag', 'cite', 'cite headnot', 'citi', 'citi montgomeri', 'citi montgomeri john', 'claim', 'claim govern', 'claim govern work', 'claimant', 'claimant assert', 'claimant levi', 'claimant levi taken', 'coat', 'confirm', 'confirm correct', 'confirm correct view', 'consid', 'consid act', 'consid act subject', 'consid claimant', 'consid claimant assert', 'contract', 'contract defend', 'contract pas', 'contract pas vest', 'contract sale', 'contradict', 'convers', 'convers bale', 'convers bale cotton', 'convers cotton', 'convers cotton citi', 'correct', 'correct view', 'correct view necessari', 'cotton', 'cotton citi', 'cotton citi montgomeri', 'cotton etowah', 'cotton etowah wm', 'cotton harbour', 'cotton harbour hale', 'cow', 'cow 39', 'crop', 'crop subject', 'crop subject levi', 'cunningham', 'date', 'defend', 'depth', 'destroy', 'dewey', 'dewey woman', 'dissent', 'dissent opinion', 'doughi', 'edward', 'edward thompson', 'end', 'enquiri', 'enter', 'enter enquiri', 'error', 'error autauga', 'error autauga moor', 'error sumter', 'error tuskaloosa', 'etowah', 'etowah wm', 'etowah wm whitlow', 'evan', 'evan later', 'evid', 'evid admiss', 'evid admiss contradict', 'exempt', 'exempt citi', 'exempt citi montgomeri', 'exist', 'exist subject', 'exist subject matter', 'exist subjectmatt', 'exist subjectmatt mortgag', 'farm', 'farm year', 'file', 'file situat', 'firm', 'gener', 'german', 'gibb', 'gibb manner', 'govern', 'govern work', 'grover', 'grover convers', 'grover convers bale', 'grover convers cotton', 'grow', 'grow crop', 'grow crop subject', 'grow exist', 'grow exist subject', 'grow exist subjectmatt', 'hale', 'harbour', 'harbour hale', 'hayfield', 'headnot', 'histori', 'histori result', 'histori result situat', 'hooker', 'hooker jones', 'jan', 'jan 1871', 'jan 1872', 'john', 'john 108', 'john cunningham', 'jones', 'judgment', 'juli', 'juli 1857', 'june', 'juri', 'later', 'law', 'law firm', 'law suppos', 'law suppos contract', 'lawyer', 'let', 'let farm', 'let farm year', 'levi', 'levi plant', 'levi seizur', 'levi seizur attach', 'levi taken', 'levi taken posse', 'line', 'line destroy', 'line prioriti', 'manner', 'manner norton', 'matter', 'matter sale', 'mckenzi', 'mckenzi ampl', 'montgomeri', 'montgomeri john', 'montgomeri john cunningham', 'moor', 'mormon', 'mortgag', 'mortgag contract', 'mortgag contract pas', 'murphi', 'necessari', 'neg', 'neg treatment', 'neg treatment result', 'norton', 'nov', 'nov 1880', 'novemb', 'number', 'opinion', 'page', 'page number', 'pas', 'pas vest', 'pas vest posse', 'person', 'person hayfield', 'plant', 'polici', 'polici state', 'port', 'port 182', 'posse', 'present', 'present question', 'prioriti', 'properti', 'properti cotton', 'properti cotton harbour', 'properti statut', 'properti statut novemb', 'question', 'quot', 'refer', 'refer titl', 'remedi', 'renter', 'renter claim', 'renter claim govern', 'result', 'result said', 'result situat', 'run', 'run 1852', 'said', 'sale', 'seizur', 'seizur attach', 'shall', 'shall enter', 'shall enter enquiri', 'situat', 'smith', 'st1821', 'state', 'statut', 'statut novemb', 'statut present', 'statut present question', 'stewart', 'stewart doughi', 'subject', 'subject levi', 'subject levi seizur', 'subject matter', 'subject matter sale', 'subject polici', 'subject polici state', 'subjectmatt', 'subjectmatt mortgag', 'subjectmatt mortgag contract', 'sumter', 'suppos', 'suppos contract', 'suppos contract sale', 'suprem', 'suprem alabama', 'sycosi', 'tabl', 'tabl author', 'taken', 'taken posse', 'thompson', 'thomson', 'thomson renter', 'thomson renter claim', 'titl', 'treatment', 'treatment result', 'treatment result situat', 'tree', 'tree coat', 'trial', 'trial properti', 'trial properti cotton', 'trial properti statut', 'tuskaloosa', 'type', 'vest', 'vest posse', 'view', 'view necessari', 'wage', 'wage exempt', 'wage exempt citi', 'west', 'west headnot', 'whitlow', 'wm', 'wm whitlow', 'woman', 'work', 'writ', 'writ error', 'writ error sumter', 'writ error tuskaloosa', 'year']

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. 

ip = "260.08.094.109"

In [ ]:
# Write your code here

import re
ip="260.08.094.109"
str = re.sub('\.[0]*', '.', ip)
print(str)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence.

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [ ]:
# Write your code here

import re
sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump"
years = re.findall(r'2\d\d\d', sentence)
print(years)

['2010', '2010', '2019']